<div class="centered">
  <div class="error-page">
    <div class="error-page-header">
      <h1>404</h1>
      <p>Impossible de retrouver cette partie. Vous pouvez en créer une nouvelle ⬇</p>
    </div>
    <%= form_for :new_game, Routes.page_path(TimesupWeb.Endpoint, :create_game), [class: "new-game-form"], fn _f -> %>
      <%= submit "Nouvelle partie"%>
    <% end %>
  </div>
</div>
