<div class="centered">
  <%= form_for @conn, Routes.page_path(@conn, :join_game, @id), [class: "join-game-form"], fn f -> %>
    <%= label f, :username, "Votre nom" %>
    <%= text_input f, :username, value: "" %>
    <%= submit "Valider" %>
  <%= end %>
</div>
