@import "./css-reset.css";

:root {
  scroll-behavior: smooth;
  --ratio: 1.4;
  --measure: 65ch;
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));

  --line-height-small: calc(0.6 * var(--ratio));

  font-size: calc(0.333vw + 1em);
  font-family: Arial, sans-serif;
}

h1 {
  font-size: var(--s3);
  letter-spacing: -3px;
  font-weight: bold;
  line-height: var(--line-height-small);
}
h2 {
  font-size: var(--s1);
  letter-spacing: -1px;
  line-height: var(--line-height-small);
}

button {
  background: black;
  color: white;
  padding: var(--s-1) var(--s2);
  font-weight: bold;
  border: 4px solid;
}

button.secondary {
  background: transparent;
  color: black;
}

button:hover {
  cursor: pointer;
}

.centered {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  padding: 0 var(--s0);
}

.home > * + * {
  margin-top: var(--s3);
}

.home form {
  text-align: center;
}

.home h1 {
  font-size: var(--s5);
}
.home h1 .online {
  font-size: var(--s3);
}
.home-header p {
  margin-top: var(--s1);
}

/* the csrf protection hidden input fucks things up */
form > *:not([type="hidden"]) + * {
  margin-top: var(--s0);
}
label + * {
  margin-top: var(--s-3);
}

label,
input {
  display: block;
}
label {
  font-weight: bold;
}

.deck-building {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
  padding: var(--s3) 0;
}
.deck-building > * + * {
  margin-top: var(--s2);
}

.add-card-form {
  display: inline-block;
  border: 4px solid;
  padding: var(--s1);
}

/* https://every-layout.dev/layouts/cluster/ */
ul.card-list {
  --space: var(--s0);
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--space) / 2 * -1);
}

.card-list > * {
  /* ↓ half the value, because of the 'doubling up' */
  margin: calc(var(--space) / 2);
}

.card-list .card {
  border: solid;
  padding: var(--s1);
  border-radius: var(--s-1);
  min-width: 15ch;
  text-align: center;
  font-weight: bold;
}

.choose-teams {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
  padding: var(--s3) 0;
}
.choose-teams > * + * {
  margin-top: var(--s2);
}

.choose-teams .team-header {
  display: flex;
  align-items: center;
  border-top: 4px dashed;
  padding-top: var(--s1);
}
.choose-teams h2 {
  margin-right: var(--s2);
}
.team > * + * {
  margin-top: var(--s1);
}

.start-game-form {
  border-top: 4px dashed;
  padding-top: var(--s1);
}

/* https://every-layout.dev/layouts/cluster/ */
ul.player-list {
  --space: var(--s0);
  display: flex;
  flex-wrap: wrap;
  /* ↓ multiply by -1 to negate the halved value */
  margin: calc(var(--space) / 2 * -1);
}

.player-list > * {
  /* ↓ half the value, because of the 'doubling up' */
  margin: calc(var(--space) / 2);
}

.player {
  padding: var(--s-4) var(--s0);
  border: solid;
}

.game-started {
  min-height: 100vh;
}
.game-started aside > * + * {
  margin-top: var(--s0);
}
.game-started > * {
  padding: var(--s3) var(--s1);
}
.game-started aside {
  outline: 4px dashed;
}
.game-started .round-header > * + * {
  margin-top: var(--s0);
}
.game-started .content > * {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
}

/* https://every-layout.dev/layouts/sidebar/ */
.game-started {
  display: flex;
  flex-wrap: wrap-reverse;
}
.game-started aside {
  flex-basis: 20rem;
  flex-basis: 60;
  flex-grow: 1;
}
.game-started .content {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 60%;
}

.game-started .content {
  padding-bottom: var(--s4);
}

.game-started .content > div > * + * {
  margin-top: var(--s3);
}

.time-remaining {
  font-size: var(--s4);
  margin: 0 var(--s4);
  display: inline-block;
  min-width: 2ch;
  text-align: center;
}

.current-card {
  font-size: var(--s2);
  border: 4px solid;
  display: inline-block;
  padding: var(--s4);
  border-radius: var(--s-1);
  min-width: 15ch;
  max-width: 20ch;
  text-align: center;
}

/*https://absolutely.every-layout.dev/layouts/cluster/ */
.game-started .actions {
  --space: var(--s0);
  /* ↓ Suppress horizontal scrolling caused by the negative margin in some circumstances */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  /* ↓ multiply by -1 to negate the halved value */
  margin: calc(var(--space) / 2 * -1);
}
.game-started .actions > * {
  /* ↓ half the value, because of the 'doubling up' */
  margin: calc(var(--space) / 2);
}

.not-found > * + * {
  margin-top: var(--s2);
}

.not-found {
  text-align: center;
}

.not-found-header h1 {
  font-size: var(--s6);
}
.not-found-header p {
  margin-top: var(--s0);
}
