@import "./css-reset.css";

:root {
  scroll-behavior: smooth;
  --ratio: 1.4;
  --measure: 65ch;
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));
  --s7: calc(var(--s6) * var(--ratio));
  --s8: calc(var(--s7) * var(--ratio));

  --line-height-small: calc(0.8 * var(--ratio));
  --line-height-very-small: calc(0.6 * var(--ratio));

  font-size: calc(0.333vw + 1em);
  font-family: Arial, sans-serif;
}

h1 {
  font-size: var(--s3);
  letter-spacing: -3px;
  font-weight: bold;
  line-height: var(--line-height-small);
}
h2 {
  font-size: var(--s1);
  letter-spacing: -1px;
  line-height: var(--line-height-small);
}

.btn,
button {
  text-decoration: none;
  background: black;
  color: white;
  padding: var(--s-2) var(--s1);
  font-weight: bold;
  border: 4px solid;
  border-color: black;
  border-radius: 0;
}

button.secondary {
  background: transparent;
  color: black;
}

button:hover {
  cursor: pointer;
}

small {
  font-size: var(--s-1);
}

.centered {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  padding: 0 var(--s0);
}

.home > * + * {
  margin-top: var(--s3);
}

.home form {
  text-align: center;
}

.home h1 {
  font-size: var(--s5);
  line-height: var(--line-height-very-small);
}
.home h1 .online {
  font-size: var(--s3);
}
.home-header p {
  margin-top: var(--s1);
}
.home .links > * + * {
  margin-top: var(--s1);
}
.how-does-it-work {
  text-align: center;
  display: block;
}
.how-does-it-work a {
  color: black;
}
#how-does-it-work {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
  padding: var(--s3) var(--s0);
  min-height: 100vh;
}
#how-does-it-work h2 {
  font-size: var(--s3);
}
#how-does-it-work > * + * {
  margin-top: var(--s3);
}
#how-does-it-work ol > * + * {
  margin-top: var(--s1);
}
#how-does-it-work .new-game-form {
  text-align: center;
}

/* the csrf protection hidden input fucks things up */
form > *:not([type="hidden"]) + * {
  margin-top: var(--s0);
}
label + * {
  margin-top: var(--s-3);
}

label,
input {
  display: block;
}
label {
  font-weight: bold;
}

.deck-building aside > * + * {
  margin-top: var(--s1);
}
.deck-building aside {
  padding: var(--s3) var(--s0);
  outline: 4px dashed;
}
.deck-building .content > * {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--s3);
  /* leave space for the cards that will appear underneath the form */
  padding-bottom: var(--s6);
  padding-left: var(--s0);
  padding-right: var(--s0);
}
/* https://every-layout.dev/layouts/sidebar/ */
.deck-building {
  display: flex;
  flex-wrap: wrap;
}
.deck-building aside {
  flex-basis: 30ch;
  flex-grow: 1;
}
.deck-building .content {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
}

.deck-building .content > div > * + * {
  margin-top: var(--s2);
}
.share-box {
  padding-top: var(--s0);
  display: table;
  width: 100%;
}
.share-box > * {
  display: table-cell;
  vertical-align: middle;
  font-size: var(--s-1);
}
#share-url {
  border: 3px solid black;
  border-radius: 0;
  padding: var(--s-4);
  width: 100%;
}
.share-box button {
  border: 3px solid black;
  padding: var(--s-4) var(--s-2);
}

.add-card-form {
  display: inline-block;
  border: 4px solid;
  padding: var(--s1);
  border-radius: var(--s-1);
}

/* https://every-layout.dev/layouts/cluster/ */
ul.card-list {
  --space: var(--s0);
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--space) / 2 * -1);
}

.card-list > * {
  /* ↓ half the value, because of the 'doubling up' */
  margin: calc(var(--space) / 2);
}

.card-list .card {
  border: solid 4px;
  padding: var(--s1);
  border-radius: var(--s-1);
  min-width: 13ch;
  text-align: center;
  font-weight: bold;
}
.card-list .delete {
  width: 100%;
  text-align: center;
  line-height: var(--line-height-small);
}
.card-list .delete > button {
  padding: 0;
  background: transparent;
  color: black;
  border: 0;
  font-size: var(--s-1);
  text-decoration: underline;
}

.deck-building .ready > * + * {
  margin-top: var(--s0);
}

.choose-teams {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
  padding: var(--s3) var(--s0);
}
.choose-teams > * + * {
  margin-top: var(--s2);
}

.choose-teams .team-header {
  display: flex;
  align-items: center;
  border-top: 4px dashed;
  padding-top: var(--s1);
}
.choose-teams h2 {
  margin-right: var(--s2);
}
.team > * + * {
  margin-top: var(--s1);
}

.start-game-form {
  border-top: 4px dashed;
  padding-top: var(--s1);
}

/* https://every-layout.dev/layouts/cluster/ */
ul.player-list {
  --space: var(--s0);
  display: flex;
  flex-wrap: wrap;
  /* ↓ multiply by -1 to negate the halved value */
  margin: calc(var(--space) / 2 * -1);
}

.player-list > * {
  /* ↓ half the value, because of the 'doubling up' */
  margin: calc(var(--space) / 2);
}

.player {
  padding: var(--s-4) var(--s0);
  border: solid;
}

.round-intro {
  min-height: 100vh;
  padding: var(--s3) var(--s1);
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
}
.round-intro > * + * {
  margin-top: var(--s2);
}
.round-intro ul > * + * {
  margin-top: var(--s1);
}
.round-intro .cta {
  margin-top: var(--s3);
  text-align: center;
}

.blink-overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blink-overlay.card_passed {
  background: #fc3f3f;
}
.blink-overlay.card_guessed {
  background: #00ebc7;
}

.game-started {
  min-height: 100vh;
}
.game-started aside > * + * {
  margin-top: var(--s0);
}
.game-started > * {
  padding: var(--s3) var(--s1);
}
.game-started aside {
  outline: 4px dashed;
}
.game-started .round-header > * + * {
  margin-top: var(--s0);
}
.game-started .content > * {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
}

/* https://every-layout.dev/layouts/sidebar/ */
.game-started {
  display: flex;
  flex-wrap: wrap-reverse;
}
.game-started aside {
  flex-basis: 20rem;
  flex-basis: 60;
  flex-grow: 1;
}
.game-started .content {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 60%;
}

.game-started .content {
  padding-bottom: var(--s4);
}

.game-started .content > div > * + * {
  margin-top: var(--s3);
}

.time-remaining {
  font-size: var(--s4);
  margin: 0 var(--s4);
  scroll-margin-top: var(--s3);
  display: inline-block;
  min-width: 2ch;
  text-align: center;
}

.current-card {
  font-size: var(--s2);
  border: 4px solid;
  display: inline-block;
  padding: var(--s4);
  border-radius: var(--s-1);
  min-width: 15ch;
  max-width: 20ch;
  text-align: center;
}
.invisible {
  opacity: 0;
}

/*https://absolutely.every-layout.dev/layouts/cluster/ */
.game-started .actions {
  --space: var(--s0);
  /* ↓ Suppress horizontal scrolling caused by the negative margin in some circumstances */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  /* ↓ multiply by -1 to negate the halved value */
  margin: calc(var(--space) / 2 * -1);
}
.game-started .actions > * {
  /* ↓ half the value, because of the 'doubling up' */
  margin: calc(var(--space) / 2);
}
button.phx-click-loading {
  transform: translateY(var(--s-4));
}

.game-over h1 {
  padding-top: var(--s6);
}
.game-over > * + * {
  margin-top: var(--s4);
}

.not-found > * + * {
  margin-top: var(--s2);
}

.not-found {
  text-align: center;
}

.not-found-header h1 {
  font-size: var(--s6);
}
.not-found-header p {
  margin-top: var(--s0);
}

.disconnected-banner {
  display: none;
}
.phx-error.phx-disconnected .disconnected-banner {
  display: flex;
  justify-content: center;
  position: fixed;
  top: var(--s0);
  left: 0;
  right: 0;
}
.disconnected-banner > * {
  max-width: var(--measure);
  background: black;
  color: white;
  padding: var(--s-2) var(--s1);
}
